<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">




    <appender name="all_appender" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="10MB" />
        <param name="maxBackupIndex" value="1" />
        <param name="File" value="/swissbib_index/solrDocumentProcessing/MarcToSolr/dist/postclient/indexerlogs/root.log" />
        <param name="Threshold" value="ERROR" />
        <layout class="org.apache.log4j.TTCCLayout">
            <param name="DateFormat" value="ISO8601" />
        </layout>
    </appender>

    <appender name="indexerClient" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="10MB" />
        <param name="maxBackupIndex" value="1" />
        <param name="File" value="/swissbib_index/solrDocumentProcessing/MarcToSolr/dist/postclient/indexerlogs/indexerClient.log" />
        <param name="Threshold" value="INFO" />
        <layout class="org.apache.log4j.TTCCLayout">
            <param name="DateFormat" value="ISO8601" />
        </layout>
    </appender>

    <appender name="updateParser" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="10MB" />
        <param name="maxBackupIndex" value="1" />
        <param name="File" value="/swissbib_index/solrDocumentProcessing/MarcToSolr/dist/postclient/indexerlogs/updateParser.log" />
        <param name="Threshold" value="DEBUG" />
        <layout class="org.apache.log4j.TTCCLayout">
            <param name="DateFormat" value="ISO8601" />
        </layout>
    </appender>


    <appender name="deleteParser" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="10MB" />
        <param name="maxBackupIndex" value="1" />
        <param name="File" value="/swissbib_index/solrDocumentProcessing/MarcToSolr/dist/postclient/indexerlogs/deleteParser.log" />
        <param name="Threshold" value="DEBUG" />
        <layout class="org.apache.log4j.TTCCLayout">
            <param name="DateFormat" value="ISO8601" />
        </layout>
    </appender>

    <appender name="extendedFileOpener" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="10MB" />
        <param name="maxBackupIndex" value="1" />
        <param name="File" value="/swissbib_index/solrDocumentProcessing/MarcToSolr/dist/postclient/indexerlogs/extendedFileOpener.log" />
        <param name="Threshold" value="DEBUG" />
        <layout class="org.apache.log4j.TTCCLayout">
            <param name="DateFormat" value="ISO8601" />
        </layout>
    </appender>


    <appender name="clientWrapper" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="10MB" />
        <param name="maxBackupIndex" value="1" />
        <param name="File" value="/swissbib_index/solrDocumentProcessing/MarcToSolr/dist/postclient/indexerlogs/clientWrapper.log" />
        <param name="Threshold" value="DEBUG" />
        <layout class="org.apache.log4j.TTCCLayout">
            <param name="DateFormat" value="ISO8601" />
        </layout>
    </appender>


    <appender name="staxUpdateParser" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="10MB" />
        <param name="maxBackupIndex" value="1" />
        <param name="File" value="/swissbib_index/solrDocumentProcessing/MarcToSolr/dist/postclient/indexerlogs/staxUpdateParser.log" />
        <param name="Threshold" value="DEBUG" />
        <layout class="org.apache.log4j.TTCCLayout">
            <param name="DateFormat" value="ISO8601" />
        </layout>
    </appender>


    <appender name="solrStreamFilter" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="10MB" />
        <param name="maxBackupIndex" value="1" />
        <param name="File" value="/swissbib_index/solrDocumentProcessing/MarcToSolr/dist/postclient/indexerlogs/solrStreamFilter.log" />
        <param name="Threshold" value="DEBUG" />
        <layout class="org.apache.log4j.TTCCLayout">
            <param name="DateFormat" value="ISO8601" />
        </layout>
    </appender>



    <logger name="org.swissbib.solr.IndexerClient"  additivity="false">
        <level value="info"/>
        <appender-ref ref="indexerClient"/>
    </logger>

    <logger name="org.swissbib.solr.SolrXMLUpdateParser"  additivity="false">
        <level value="debug"/>
        <appender-ref ref="updateParser"/>
    </logger>


    <logger name="org.swissbib.solr.SolrXMLDeleteParser"  additivity="false">
        <level value="debug"/>
        <appender-ref ref="deleteParser"/>
    </logger>


    <logger name="org.swissbib.solr.ExtendedFileOpener"  additivity="false">
        <level value="debug"/>
        <appender-ref ref="extendedFileOpener"/>
    </logger>

    <logger name="org.swissbib.solr.SolrClientWrapper"  additivity="false">
        <level value="debug"/>
        <appender-ref ref="clientWrapper"/>
    </logger>

    <logger name="org.swissbib.solr.SolrStaxXMLUpdateParser"  additivity="false">
        <level value="debug"/>
        <appender-ref ref="staxUpdateParser"/>
    </logger>

    <logger name="org.swissbib.solr.SolrStreamFilter"  additivity="false">
        <level value="debug"/>
        <appender-ref ref="solrStreamFilter"/>
    </logger>



    <root>
        <priority value="ERROR"/>
        <appender-ref ref="all_appender" />
    </root>
</log4j:configuration>