<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="basePath">indexerlogs</Property>
    </Properties>


    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{YYY-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="indexerClient" fileName="${basePath}/indexerClient.log" filePattern="/indexerClient-%d{yyyy-MM-dd}.log">

            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>

        <RollingFile name="updateParser" fileName="${basePath}/updateParser.log" filePattern="/updateParser-%d{yyyy-MM-dd}.log">

            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>


        <RollingFile name="deleteParser" fileName="${basePath}/deleteParser.log" filePattern="/deleteParser-%d{yyyy-MM-dd}.log">

            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>


    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>

        <logger name="org.swissbib.solr.IndexerClient" level="info" additivity="false">
            <AppenderRef ref="indexerClient"/>
        </logger>

        <logger name="org.swissbib.solr.SolrXMLUpdateParser" level="debug" additivity="false">
            <AppenderRef ref="updateParser"/>
        </logger>


        <logger name="org.swissbib.solr.SolrXMLDeleteParser" level="debug" additivity="false">
            <AppenderRef ref="deleteParser"/>
        </logger>



    </Loggers>
</Configuration>

